@media (min-width: 1500px) {
    /* home */
    .home-main section {
        height: 30px;
    }

    .home-main-text {
        font-size: 50px;
        letter-spacing: 30px;
    }

    .home-main-button {
        width: 220px;
        height: 100px;
    }

    .home-main-button a {
        font-size: 34px;
    }
}

@media (min-width: 1200px) {
    /* home */
    .home-main section {
        height: 50px;
        margin-top: 160px;
    }

    .home-main-text {
        letter-spacing: 16px;
        font-size: 40px;
    }

    .home-main-button {
        width: 150px;
        height: 70px;
    }

    .home-main-button a {
        font-size: 23px;
    }
}

@media (min-width: 901px) {
    /*!* home *!*/
    /*.home-main section {*/
    /*    height: 30px;*/
    /*}*/

    /*.home-main-button {*/
    /*    width: 220px;*/
    /*    height: 100px;*/
    /*}*/

    /*.home-main-button a {*/
    /*    font-size: 34px;*/
    /*}*/
}

@media (max-width: 900px) {
    /* blogs */
    .blogs-main-new {
        grid-template-columns: 1fr auto;
        grid-template-rows: 3fr;
    }

    .blogs-news-img-container {
        grid-row: 2;
    }

    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }

    .blogs-posts-container .post-container {
        max-width: 45%;
    }

    /* profile */
    .profile-main-container {
        grid-template-columns: 1fr auto;
        grid-template-rows: 3fr;
    }

    .profile-main-container .profile-container {
        display: grid;
    }

    .profile-main-container img {
        width: 100%;
        margin-right: 30px;
    }

    .projects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }

    .projects-main-container .profile-container {
        display: block;
    }
}

@media (max-width: 899px) {
    /* home */
    .home-main section {
        /*margin-top: 10px;*/
        height: 30px;
    }

    .home-main-text {
        font-size: 25px;
        letter-spacing: 7px;
    }

    .home-main-button {
        margin-top: 30px;
    }

    /* contact */
    .contact-main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }

    .contact-main-container div {
        width: 95%;
        margin: 30px 10px 0;
    }

    .contact-main-container img {
        width: 150px;
    }

    .contact-main-container .contact-left, .contact-main-container .contact-right {
        margin-top: 0;
    }
}

@media (min-width: 601px) {

    /* contact */
    /*.contact-main-container {*/
    /*    display: grid;*/
    /*    grid-template-columns: 1fr 1fr;*/
    /*    overflow: hidden;*/
    /*}*/

    /*.contact-main-container div {*/
    /*    width: 95%;*/
    /*    margin: 30px 10px 0;*/
    /*}*/

    /*.contact-main-container img {*/
    /*    width: 150px;*/
    /*}*/

    /*.contact-main-container .contact-left, .contact-main-container .contact-right {*/
    /*    margin-top: 0;*/
    /*}*/
}
@media (max-width: 600px) {
    .header-icons-container {
        height: 45px;
    }

    header .header-icons-container .icons {
        width: 250px;
        margin-right: 30px;
    }

    header .icons span {
        height: 13px;
        width: 13px;
    }

    nav {
        height: 80px;
    }

    nav .nav-logo-container img {
        width: 185px;
    }

    /* blogs */
    .blogs-posts-container .post-container {
        max-width: 95%;
    }


    /* contact */
    .contact-main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 20px 0 20px;
    }

    .contact-main-container div {
        padding-left: 5px;
        width: 95%;
    }

    .contact-main-container img {
        width: 100px;
        grid-column: 1;
    }

    .contact-main-container .contact-left, .contact-main-container .contact-right {
        grid-column: 2;
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    /* home */
    .home-main section {
        margin-top: 10px;
    }

    .home-main-text {
        font-size: 25px;
        letter-spacing: 0;
    }


    /* profile */
    .projects-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    /* contact */
    .contact-main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        padding: 20px 0 20px;
    }
}

@media (max-width: 320px) {
    nav {
        grid-template-columns: 1fr 1fr;
    }

    nav .nav-logo-container {
        margin-left: 0;
    }

    /* home */
    .home-main section {
        margin-top: 10px;
    }

    .home-main-text {
        font-size: 25px;
        letter-spacing: 0;
    }
}